.highlight {
    background-color: green;
    color: white; 
    padding: 2px 4px;
    border-radius: 3px;
}
.keep-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Reduce gap for smaller screens */
    background-color: #222;
}

.course-list li {
  list-style: none;
  position: relative;
  padding-left: 20px;
}

.course-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:  
 lightblue;
}

.course-note {
    background-color: #333;
    border: 2px solid #FCBA03;
    color: #fff;
    padding: 15px; /* Reduce padding for smaller screens */
    width: 100%; /* Make notes full width on smaller screens */
    box-sizing: border-box; /* Include padding and border in width */
}

a {
    color: blue; /* Unvisited link color */
}

a:visited {
    color: red; /* Visited link color */
}

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .course-note {
    padding: 10px;
  }
}
